<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список підприємств</title>
</head>
<body>
<h1>Список підприємств</h1>
<table>
    <tr>
        <th>Кадастровий номер</th>
        <th>Назва підприємства</th>
        <th>Річний дохід</th>
        <th>Площа землі</th>
    </tr>
    <tr th:each="farm : ${farms}">
        <td th:text="${farm.getcadastreNumber()}"></td>
        <td th:text="${farm.getEnterpriseName()}"></td>
        <td th:text="${farm.getAnnualIncome()}"></td>
        <td th:text="${farm.getLandArea()}"></td>
        <td> <a style="color: darkgoldenrod" th:href="'/edit/' + ${farm.id}">Редагувати</a></td>
        <td> <a style="color: red" th:href="'/delete/' + ${farm.id}">Видалити</a></td>
    </tr>
</table>
<br/>
<a style="color: green" href='/add'>Створити підприємство</a>
<a style="color: blue" href='/download/pdf'>Скачати PDF</a>

</body>
</html>
