<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Medicine Form</title>
</head>
<body>
<header>
    <a href="/medicine/expiry">Get expiry</a>
    <a href="/medicine/delivery">Get delivery</a>

    <a href="/medicine/form">Add Medicine</a>
    <a href="/order/form">Add Order</a>
    <a href="/doctor/form">Add Doctor</a>
    <a href="/patient/form">Add Patient</a>
    <a href="/diagnosis/form">Add Diagnosis</a>


</header>
<h1>Add Medicine</h1>
<form action="/medicine/add" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name"><br>

    <label for="expiryDate">Expiry Date:</label>
    <input type="date" id="expiryDate" name="expiryDate"><br>

    <label for="arrivalDate">Arrival Date:</label>
    <input type="date" id="arrivalDate" name="arrivalDate"><br>

    <input type="submit" value="Add">
</form>
</body>
</html>
